.fill {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}


.menus {
/*	position: fixed;*/
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr 8fr 2fr;
}

.top {
	background-color: #f06;
}

.middle {
/*	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;*/
	overflow: scroll;
/*	scroll-snap-type: both;*/

/*	display: grid;
	align-items: center;
	justify-content: center;*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
}

.middle::-webkit-scrollbar {
  display: none;
}

 
.bottom {
	background-color: purple;
}

.canvasContainer {
	position: relative;
	background-color: blue;
	opacity: 75%;
/*	width: 300vw;
	height: 300vh;*/
	width: 500%;
	height: 500%;
	
	
	display: grid;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
}

.myCanvas {
	transition: transform 0.1s;
	background-color: lightgrey;
}
