:root {
  --background-color: black;
  --text-color: white;
  --heading-color-text: purple;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color-text);
}

p {
  margin: 1em;
  font-size: 2rem;
  color: var(--text-color);
}

img {
}

/* link */
strong {
}
em {
}
span {
  /* underline */
}
hr {
}

.page {
  text-align: center;
}
